/* FAVORITES WINDOW */
.favorites-list-container {
  width: 220px;
  box-sizing: border-box;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  background: #fafafa;
  position: fixed;
  z-index: 5;
  transform: translateZ(110px);
  box-shadow: 0 0 5px black;
  padding: 2px;
  padding: 2px;
  left: -230px;
  transition: 0.5s ease;
  overflow-y: auto;
  bottom: 0;
  top: 0;
}

.favorites-list-container.open {
  left: 0;
}

.no-favorites {
  padding: 0 10px;
}

.favorites-open-button {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  background: #4CAF50;
  color: white;
  border: 0;
  box-shadow: 0 0 5px black;
  z-index: 5;
  border-radius: 50%;
  transform: translateZ(109px);
}

.favorite-icon {
  max-height: 50px;
  margin: 0 5px;
}

.remove-button {
  border-radius: 50%;
  background: #fe3030;
  color: white;
  width: 30px;
  height: 30px;
  border: 0;
  font-size: 15px;
  font-weight: bold;
}

.favorites-title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.close-favorites-button {
  border-radius: 50%;
  border: 0;
  background: #b0b0b0;
  width: 30px;
  height: 30px;
  color: white;
  font-weight: bold;
}

.favorite-pokemon-item {
  display: flex;
  padding: 0 10px;
  align-items: center;
  text-transform: capitalize;
  background: #fafafa;
  border-radius: 10px;
}

/* POKEMON CARD */
.pokemon-name {
  text-transform: capitalize;
  text-align: center;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 18px;
  margin: 6px;
  background: #e8e8e8;
  box-shadow: 0 0 5px white;
}

.pokemon-name.favorite {
  background: linear-gradient(45deg, #BF953F, #FCF6BA, #FBF5B7, #BF953F);
}

.pokemon-card {
  width: 250px;
  height: 300px;
  border-radius: 10px;
  margin: 1%;
  border: 1px solid #FBF5B7;
  box-sizing: border-box;
  background: linear-gradient(20deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  transition-timing-function: ease;
  transition-duration: 0.4s;
  transition-property: width, height, margin, rotation, transform !important;
  transform-style: preserve-3d;
}

.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

.title-row {
  display: flex;
  justify-content: space-between;
}

.title-row .pokemon-name {
  flex-grow: 1;
}

.title-row button {
  border: 1px solid white;
  border-radius: 0 5px 5px 0;
  background: rgba(255,255,255,0.5);
  box-shadow: 0 0 5px white;
  box-sizing: border-box;
  width: 37px;
  height: 37px;
}

button:hover{
  box-shadow: inset 0 0 15px white;
}

.fav-button.remove {
  background: #fe3030;
}

.title-row .close-button {
  font-weight: bold;
  background: #b0b0b0;
  color: white;
  font-size: 14px;
}

button.fav-button {
  font-weight: bold;
  border-radius: 5px 0 0 5px;
  color: white;
  font-size: 19px;
  padding-bottom: 2px;
  background-color: #4CAF50;
}

.radar-container svg {
  width: 85%;
  overflow: visible;
  height: 200px;
}

.radar-container {
  text-align: center;
}

.pokemon-card-back .pokemon-name {
  margin: 0;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}

.caption {
  fill: #fff;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 0 0 5px #000,0 0 5px #000,0 0 5px #000;
}

.overlay {
  position: fixed;
  width: 0;
  height: 0;
  background: black;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.overlay-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  transform: translateZ(2px);
  z-index: 2;
  opacity: 0.5;
  transition: opacity 1s ease;
}

.pokemon-card-container {
  width: 250px;
  height: 305px;
}

.pokemon-card-container:not(.card-open):not(.card-animating):hover .pokemon-card {
  transform-origin: center right;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transform: translate(0px,-10px) rotateX(-3deg) rotateY(5deg) rotateZ(1deg) scale(1.05);
  box-shadow: 0 0 20px black;
}

.pokemon-card-inner {
  margin: 0.5%;
  border-radius: 7px;
  width: 99%;
  height: 99%;
  position: relative;
  box-sizing: border-box;
  transition: all 0.4s ease;
  transform-style: preserve-3d;
}

.pokemon-card-container:not(.card-open):not(.card-animating):hover .pokemon-card .pokemon-card-inner, .pokemon-card-container:not(.card-open):not(.card-animating):hover .pokemon-card {
  overflow: hidden;
}

.pokemon-card-front, .pokemon-card-back {
  position: absolute;
  backface-visibility: hidden;
  transform: translateZ(1px);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  transform-style: preserve-3d;
  border-radius: 7px;
  border: 1px solid #000;
}

.pokemon-card-back {
    transform: rotateY(180deg) translateZ(2px);
    padding: 10px;
}

.pokemon-general-info {
  text-align: center;
  border-collapse: collapse;
  margin: 10px 0;
}

.pokemon-general-info td {
  width: 50%;
  min-width: 100px;
  padding: 4px;
  font-size: 14px;
  transition: all 0.5s ease;
}

.pokemon-general-info .label {
  background-color: lightgray;
}

.pokemon-general-info .value {
  background-color: white;
  text-align: left;
}

.type {
  text-transform: uppercase;
  color: white;
  background-color: var(--color1);
  padding: 2px 5px;
  font-weight: bold;
  margin-right: 5px;
  font-size: 10px;
  text-shadow: 0 0 4px black;
  border-radius: 5px;
}

td.genus {
  border-bottom: 2px solid red;
  opacity: 0;
}

td.flavor {
  border-top: 2px solid red;
  opacity: 0;
}

td.loaded {
  opacity: 1;
}

.pokemon-image {
  display: block;
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  filter: drop-shadow(0 0 7px rgba(0,0,0,0.4));
}

.bg-gradient {
  background: linear-gradient(-15deg, var(--color1,white) 10%,var(--color2,white) 100%); /*linear-gradient(var(--color1,white),var(--color2,white));*/
}

.bg-gradient_2{
  background: linear-gradient(-33deg, rgba(0,0,0,0.4) 10%, rgba(255,255,255,0.3) 100%), 
  linear-gradient(-15deg, var(--color1,white) 10%,var(--color2,white) 100%);
}

.pokemon-card-container:not(.card-open):not(.card-animating):hover .pokemon-card .pokemon-card-inner:after {
	content:'';
  top:0;
	transform:translateY(100%);
	width:200%;
	height:100%;
	position: absolute;
	z-index:1;
  animation: slide 0.8s;
	background: linear-gradient(0deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
}

.card-open .pokemon-card{
  position: fixed;
  transform: rotateY(180deg) translate3d(150px, -250px, -100px);
  transition-duration: 1s !important;
  transition-property: all !important;
  transform-origin: center bottom;
  transform-style: preserve-3d;
  width: 300px;
  z-index: 2;
  top: 50% !important;
  height: 500px;
  left: 50% !important;
  margin: 0;
}

.pokemon-card-container.card-open .pokemon-card-inner {
  transition: all 1s ease !important; 
}

/* Shine */

@keyframes slide {
  0% {transform: translateY(-100%);}
  50% {transform: translateY(100%);}
	100% {transform: translateY(100%);}
}

/* Main view */

.poke-grid {
  display: grid;
  gap: 5px;
  padding: 100px 0;
  grid-template-columns: repeat(auto-fill, minmax(255px,max-content));
  justify-content: center;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 0 80px;
}

.search-box {
  padding-top: 50px;
  position: relative;
}

.search-box input {
  height: 20px;
  max-width: 300px;
  padding: 5px;
  min-width: 225px;
}

.clear {
  right: 2px;
  position: absolute;
  display: inline-block;
  padding: 4px 6px 6px 4px;
  cursor: pointer;
}

.App {
  background-color: #333;
  min-height: 100vh;
}


/*POKEMON TYPE COLORS*/
.grass_1 {
  --color1: #01B248;
}
.grass_2 {
  --color2: #01B248;
}

.poison_1 {
  --color1: #EE00D0;
}
.poison_2 {
  --color2: #EE00D0;
}

.fire_1 {
  --color1: #FD0400;
}

.fire_2 {
  --color2: #FD0400;
}

.water_1 {
  --color1: #149CD8;
}

.water_2 {
  --color2: #149CD8;
}

.normal_1 {
  --color1: #DADADA;
}

.normal_2 {
  --color2: #DADADA;
}

.electric_1 {
  --color1: #FFFC00;
}

.electric_2 {
  --color2: #FFFC00;
}

.psychic_1 {
  --color1: #F02B94;
}

.psychic_2 {
  --color2: #F02B94;
}

.fighting_1 {
  --color1: #E00000;
} 

.fighting_2 {
  --color2: #E00000;
}

.rock_1 {
  --color1: #D08F01;
}

.rock_2 {
  --color2:#D08F01;
}

.ground_1 {
  --color1: #FEBF00;
}

.ground_2 {
  --color2: #FEBF00;
}

.flying_1 {
  --color1: #00B1F4;
}

.flying_2 {
  --color2: #00B1F4;
}

.bug_1 {
  --color1:#6ED142;
}

.bug_2 {
  --color2:#6ED142;
}

.dark_1 {
  --color1:#973802;
}

.dark_2 {
  --color2: #973802;
}

.ghost_1 {
  --color1: #001B62;
}

.ghost_2 {
  --color2: #001B62;
}

.ice_1 {
  --color1: #B4D8F0;
}

.ice_2 {
  --color2:#B4D8F0;
}

.steel_1 {
  --color1: #81807E;
}

.steel_2 {
  --color2: #81807E;
}

.dragon_1 {
  --color1: #7E2FA2;
}

.dragon_2 {
  --color2: #7E2FA2;
}

.fairy_1 {
  --color1:#FE9DFE;
}

.fairy_2 {
  --color2: #FE9DFE;
}